# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Downloaded comics
xkcd/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.swp
*.bak
